<!-- app.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MyTravel Cost</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cost-calculator">Cost Calculator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/booking">Booking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/travel-plans">Travel Plans</a>
      </li>
    </ul>
  </div>
</nav>

<!-- The content based on routing will be displayed here -->
<div class="container mt-5">
  <router-outlet></router-outlet> <!-- Dynamic content will be injected here -->
</div>
